.sub,
.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 1rem 0;
    input,
    textarea {
        color: $color-secondary;
        font-size: 100%;
        font-family: inherit;
        border-radius: 2px 0 0 2px;
        outline: none;
        border: none;
        background-color: inherit;

        &::placeholder {
            padding-left: 0.5rem;
            color: $color-secondary;
        }
    }
}
.sub {
    flex-direction: row;
    width: 40%;
    height: 5rem;
    margin: auto;
    margin-top: 2rem;
    input {
        padding: 1.4rem;
        font-size: 91%;
        border: 1px solid $font-primary-icons;
    }
}
.contact {
    height: 100vh;
    flex-direction: column;
    input,
    textarea {
        width: 50vw;
        padding: 1.3rem;
        &::placeholder {
            color: $color-secondary;
        }
        &:focus {
            background-color: transparent;
            color: $font-primary-icons;
        }
        // fix for webkit autofill
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:hover,
        textarea:-webkit-autofill:focus,
        select:-webkit-autofill,
        select:-webkit-autofill:hover,
        select:-webkit-autofill:focus {
            border: none;
            -webkit-text-fill-color: $font-primary-icons;
            box-shadow: 0 0 0px 1000px $bg-color-box inset;
            //transition: background-color 1s ease-in-out 1s;
        }
    }
    .skew {
        transform: skew(10deg);
        border-radius: 2px 0 0 2px;
        border: 1px solid $font-primary-icons;
        outline: none;
        background-color: inherit;
        margin: 1rem;
    }
    input {
        transform: skew(-10deg);
        margin-left: 1rem;
        &::placeholder {
            transform: skew(0deg);
        }
    }
    textarea {
        height: 20rem;
        resize: none;
        border: 1px solid $font-primary-icons;
        margin: 1rem 0 2rem 0;
    }
    button {
        width: calc(100% - 3rem);
        margin: 0 auto;
    }
}
