.navbar {
    display: block;
    position: fixed;
    right: 0rem;
    top: 4rem;
    height: 10rem;
    z-index: 999;
    cursor: pointer;
    &-icon {
        display: block;
        position: absolute;
        right: 0rem;
        width: 2.5rem;
        height: 10rem;
        background-color: $font-primary-icons;
        transition: all 0.3s ease-out;
        &::before {
            display: block;
            position: relative;
            content: 'NAVBAR';
            transform: rotate(90deg);
            font-size: 100%;
            color: $bg-color-box;
            letter-spacing: 0.4rem;
            margin-top: 1rem;
            transition: color 0.3s ease-out, transform 0.3s ease-in-out;
        }
        &:hover {
            background-color: $color-primary;
            &::before {
                color: $font-primary-icons;
            }
        }&:active{
            background-color: $font-primary-icons;
            &::before {
                color: $font-primary-icons;
            }
        }
    }
    &-box {
        display: flex;
        position: relative;
        right: 2.5rem;
        top: 1rem;
        width: 100%;
        //background-color: $bg-color;
        //border-bottom: 1px solid $font-primary-icons;
        &_box {
            display: flex;
            align-content: center;
            font-size: 100%;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
            :not(.nav-quote) {
                border-bottom: 1px solid $font-primary-icons;
                border-radius: 1rem;
            }
            .nav-header,
            .nav-quote {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 15rem;
                margin: 1.5rem;
                background-color: $bg-color-box;
            }
            .nav-header {
                position: relative;
                padding: 1rem;
                color: $font-primary-icons;
                transition: color 0.3s ease-in-out,
                    background-color 0.3s ease-in-out;
                &:hover {
                    color: $bg-color;
                    background-color: $font-primary-icons;
                }
            }
            .nav-quote {
                color: $color-primary;
                transition: all 0.2s ease-out;
                &:hover {
                    color: red;
                }
            }
        } // Vue active state
        .router-link-exact-active {
            color: $bg-color-box !important;
            background-color: $font-primary-icons;
        }
    }
}
