.portfolio {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: auto;
    overflow: hidden;
    margin: 0 auto;

    .section {
        grid-column: 1 / -1;
        display: flex;
        flex-direction: column;
        width: 85vw;
        height: auto;
        margin: 0 auto;

        &--box {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: max-content;
            margin-bottom: 6rem;
            @include phone-only {
                margin: 3rem 0;
            }
            @include tablet-portrait-up {
                height: 70vh;
            }
            @include tablet-landscape-up {
                height: 80vh;
            }

            &:nth-child(even) {
                flex-direction: row-reverse;
                &:nth-child(even) {
                    border-left: 2px solid $font-primary-icons;
                    border-bottom: 2px solid $font-primary-icons;
                    border-radius: 5rem 0 5rem 5rem;
                }
                &:last-child {
                    border-bottom: 2px solid $font-primary-icons;
                    border-radius: 5rem;
                }
            }
            &:nth-child(odd) {
                &:nth-child(odd) {
                    border-right: 2px solid $font-primary-icons;
                    border-top: 2px solid $font-primary-icons;
                    border-radius: 5rem 5rem 5rem 0;
                }
            }

            &-one,
            &-two {
                display: flex;
                flex: 1 0 40rem;
                justify-content: center;
                align-items: center;
                height: 100%;
                @include phone-only {
                    flex: 1 0 100%;
                }
                @include tablet-portrait-up {
                    flex: 1 0 10rem;
                }
                button {
                    width: max-content;
                }

                button.before-enter {
                    opacity: 0;
                    transform: translate(20px);
                    transition: all 1s ease-in-out;
                    transition-delay: 0.5s;
                }
                button.enter {
                    opacity: 1;
                    transform: translate(0px);
                }
            }
            &-one {
                flex-direction: column;

                @include phone-only {
                    order: 2;
                    height: max-content;
                    justify-content: start;
                    margin-bottom: 5rem;
                    h1 {
                        display: none;
                    }
                }
                * {
                    margin: 2rem 0;
                    @include tablet-landscape-up {
                        margin: 1rem 0;
                    }
                    //width: 70%;
                }
                p {
                    text-align: left;
                    font-size: 120%;
                    @include phone-only {
                        width: 70%;
                    }
                }
            }
            &-two {
                overflow: hidden;
                @include phone-only {
                    order: 1;
                    height: max-content;
                    padding: 3rem 0;
                }
                img {
                    width: auto;
                    height: 50%;
                    @include phone-only {
                        width: 50%;
                        height: 50%;
                    }
                    @include tablet-portrait-up {
                        align-self: center;
                        width: 80%;
                        height: auto;
                    }
                    @include tablet-landscape-up {
                        width: 50%;
                        height: auto;
                    }
                }
            }
        }
    }
}
