/* FONTS */
/* Text font Open Sans and Source Sans Pro GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');
@font-face {
    font-family: 'MainText';
    src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'MainText-light';
    src: url('../fonts/OpenSans/OpenSans-Light.ttf');
}
@font-face {
    font-family: 'MainText-bold';
    src: url('../fonts/OpenSans/OpenSans-ExtraBold.ttf');
}
@font-face {
    font-family: 'MainText-semibold';
    src: url('../fonts/OpenSans/OpenSans-SemiBold.ttf');
}

@font-face {
    font-family: 'MainHeadlines-bold';
    src: url('../fonts/SourceSansPro/SourceSansPro-Bold.ttf');
}
@font-face {
    font-family: 'MainHeadlines-light';
    src: url('../fonts/SourceSansPro/SourceSansPro-light.ttf');
}
@font-face {
    font-family: 'MainHeadlines-regular';
    src: url('../fonts/SourceSansPro/SourceSansPro-regular.ttf');
}

/* Icons */
@font-face {
    font-family: 'solid';
    src: url('../fonts/webfonts/fa-solid-900.eot');
    src: url('../fonts/webfonts/fa-solid-900.eot?#iefix')
            format('embedded-opentype'),
        url('../fonts/webfonts/fa-solid-900.woff') format('woff'),
        url('../fonts/webfonts/fa-solid-900.ttf') format('truetype'),
        url('../fonts/webfonts/fa-solid-900.svg#FontName') format('svg');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'regular';
    src: url('../fonts/webfonts/fa-regular-400.eot');
    src: url('../fonts/webfonts/fa-regular-400.eot?#iefix')
            format('embedded-opentype'),
        url('../fonts/webfonts/fa-regular-400.woff') format('woff'),
        url('../fonts/webfonts/fa-regular-400.ttf') format('truetype'),
        url('../fonts/webfonts/fa-regular-400.svg#FontName') format('svg');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'brands';
    src: url('../fonts/webfonts/fa-brands-400.eot');
    src: url('../fonts/webfonts/fa-brands-400.eot?#iefix')
            format('embedded-opentype'),
        url('../fonts/webfonts/fa-brands-400.woff') format('woff'),
        url('../fonts/webfonts/fa-brands-400.ttf') format('truetype'),
        url('../fonts/webfonts/fa-brands-400.svg#FontName') format('svg');
    font-style: normal;
    font-weight: normal;
}
i {
    font-style: normal;
}
ul,
li,
a {
    text-decoration: none;
    list-style: none;
}
.icon-box,
.icon-box-regular {
    font-family: 'solid';
    font-size: 500%;
    width: 100%;
    color: $font-primary-icons;
}
.icon-box-regular {
    font-family: 'regular';
}
.brands {
    font-family: 'brands';
    font-size: 600%;
    text-align: center;
    color: #f3f3f3;
}
.solid {
    font-family: 'solid';
    font-size: 200%;
    text-align: center;
    color: #f3f3f3;
}
h1,
h2,
h3,
h4,
p {
    color: $color-primary;
}
h1 {
    text-transform: uppercase;
    font-family: 'Cabin Sketch', cursive;
    letter-spacing: 2rem;
    font-size: 400%;
}
h2 {
    font-family: 'MainText-bold';
    text-transform: uppercase;
    line-height: 125%;
}
h3 {
    font-family: 'MainText-light';
    text-transform: uppercase;
    line-height: 100%;
    letter-spacing: 1rem;
}
h4 {
    font-family: 'MainText-bold';
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
p {
    font-family: 'MainHeadlines-light';
    font-size: 110%;
    letter-spacing: 0.2rem;
    line-height: 145%;
}
.center {
    grid-column: 1 / -1;
    display: grid;
    place-content: center;
}
.vh-50 {
    height: 50vh;
}

.b-left {
    border-left: 1px solid $font-primary-icons;
}
.b-bottom{
    border-bottom: 1px solid $font-primary-icons;
}
.h1-xxl {
    font-size: 25rem;
}
//

h1.before-enter {
    opacity: 0;
    transform: translateX(-20px);
    transition: all 1s ease-in-out;
    transition-delay: 0.5s;
}
h1.enter {
    opacity: 1;
    transform: translateX(0px);
}
h2.before-enter,
.top-down.before-enter {
    opacity: 0;
    transform: translateY(-20px);
    transition: all 1s ease-in-out;
    transition-delay: 0.5s;
}
h2.enter,
.top-down.enter {
    opacity: 1;
    transform: translateY(0px);
}
ul.before-enter {
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease-in-out;
    transition-delay: 0.5s;
}
ul.enter {
    opacity: 1;
    transform: translateY(0px);
}
p.before-enter {
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease-in-out;
    transition-delay: 0.5s;
}
p.enter {
    opacity: 1;
    transform: translateY(0px);
}
i.before-enter,
.btn-anime.before-enter {
    display: block;
    width: max-content;
    height: auto;
    opacity: 0;
    transition: all 1s ease-in-out;
    transition-delay: 0.5s;
}
i.enter,
.btn-anime.enter {
    display: block;
    opacity: 1;
    width: max-content;
    height: auto;
}
.before-enter {
    opacity: 0;
    transform: translateX(-20px);
    transition: all 1s ease-in-out;
    transition-delay: 0.5s;
}
.enter {
    opacity: 1;
    transform: translateX(0px);
}

.anime-box1.before-enter {
    transform: translateX(-20px);
}
.anime-box1.enter {
    transform: translateX(0px);
}
.anime-box2.before-enter {
    transform: translateY(20px);
}
.anime-box2.enter {
    transform: translateY(0px);
}
.anime-box3.before-enter,
.btn-anime.before-enter {
    transform: translateX(20px);
}
.anime-box3.enter,
.btn-anime.enter {
    transform: translateX(0px);
}
