/* Font-size */
$color-primary: rgb(230, 230, 230);
$color-secondary: rgb(151, 151, 151);
$bg-color: rgb(31, 31, 31);
$bg-color-box:rgb(26, 26, 26);
$border-color: rgb(73, 73, 73);
$color-btn: $color-primary;
$font-primary-dark: rgb(126, 126, 126);
$font-primary-icons: rgb(184, 116, 28);